/*
    Created on : 15.11.2013, 18:35:09
    Author     : P@bloid
*/
body{
    padding: 0; margin: 0;
    font-family: "Tahoma";
    background-color:white;
    background-image: linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 50%),
        linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%);
    background-size:50px 50px;
}
h1 {
    font-size: 16px;
}
.register-block {
    background: white;
    box-shadow: 3px 3px 5px #121212;
    margin: 25px auto;
    width: 225px;
    padding: 5px 15px;
    border: 1px solid black;
    border-radius: 5px;
}
label {
    margin-top:10px;
    margin-bottom:4px;
    display:block;
}
input[type="password"], input[type="text"] {
    box-shadow:inset 0 1px 2px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    width: 100%;
    padding: 4px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    display:block;
    box-sizing:border-box
}
input[type="submit"]{
    border-radius: 5px;
    margin-bottom:5px;
    border: none;
    outline:none;
    box-shadow: 1px 1px 3px rgba(0,0,0,0.5);
    font-weight: bold;
    padding:6px;
}
input[type="submit"]:active {
    box-shadow: -1px -1px 3px #121212;
}

.page-block {
    background: white;
    border: 1px solid black;
    width: 400px;
    margin: 0 auto;
}
.page-block table {
    width:100%;
}
.task-create-block {
    background: white;
}
.task-table {
    background: white;
    border-collapse: collapse;
}